<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nfc.qukuaiyuan">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取 UUID 用到 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- 要求当前设备必须要有NFC芯片 -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.NFCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.EditPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.QueryRecordActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />


        <activity
                android:name=".ui.AboutUsActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.ScannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.NFCTestActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.ReadMUActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.ReadTextActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.ReadUriActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.RunAppActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.RunUrlActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.WriteMUActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.WriteTextActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.nfc.WriteUriActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />


        <activity
                android:name=".ui.ScanResultActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
                android:name=".ui.PersonalActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.NFCWriteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" >

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>
    </application>

</manifest>